<ion-content>
  <ion-card *ngIf="isFeedback">
      <ion-card-content >
          <div style="text-align: center; margin-top:15%; padding: 15%;">
              <ion-text color="dark">
                  Thanks for your feedback!
              </ion-text>
          </div>
      </ion-card-content>
      <ion-footer>
        <ion-button color="success" expand="full" (click)="close()">Close</ion-button>
      </ion-footer>
    </ion-card>
    <ion-card *ngIf="!isFeedback">
      <form form [formGroup]="feedbackForm" (ngSubmit)="feedbackForm.valid && submitFeedback()">
      <ion-card-content>
          <p>
              <ion-text color="dark">
                 This page displays notifications of news and events posted by NCNMO and/or chapter(s) you follow.
              </ion-text>
            </p>
            <p>
              <ion-text color="dark">
                It also displays notification when any of the events you subscribe to get updated
              </ion-text>
          </p>
      </ion-card-content>
      <ion-footer>
        <ion-item>
          <h6>Please give us your feedback</h6>
        </ion-item>
        <ion-item *ngIf="!feedbackForm.controls.message.valid  && (feedbackForm.controls.message.dirty)">
            <p>Please provide a feedback.</p>
        </ion-item>
        <ion-item>
            <ion-textarea formControlName="message" auto-grow="true" spellcheck="true" rows="5"></ion-textarea>
        </ion-item>
        <ion-button color="success" expand="full" (click)="submitFeedback()" [disabled]="!feedbackForm.valid">Submit feedback</ion-button>
      </ion-footer>
    </form>
    </ion-card>  
</ion-content>