ion-card-title{
    font-size: 1em;
    font-weight: bold;
}
ion-card{
    margin: .5%;
  }
  ion-list{
      padding-top: 0.1%;
  }
  ion-row{
    font-size: 13px;
    margin: 3%;
  }

  img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
  }